body {
    margin: 0;
    padding: 0;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 20px 0 40px;
}

.time {
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 10px;
}

.board-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.board-column {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #d3d6da;
    width: 60px;
    height: 60px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 28px;
}